:root {
  font-size: 16px;
  --grey-top-color: #f9c104;
  --grey-bottom-color: #bd6703;
  --font-color: #fff;
  font-family: PixelCards;
}

@font-face {
  font-family: 'PixelCards';
  src: url('assets/font/PixelCards.ttf.woff') format('woff'),
    url('assets/font/PixelCards.ttf.svg#PixelCards') format('svg'),
    url('assets/font/PixelCards.ttf.eot'),
    url('assets/font/PixelCards.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    ellipse at top,
    var(--grey-top-color) 0%,
    var(--grey-bottom-color) 60%
  );
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  width: 1024px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.text1,
.text2 {
  cursor: pointer;
  position: absolute;
  font-size: 3.6rem;
  margin: 0;
  padding: 0;
  color: var(--font-color);
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.text2 {
  opacity: 0;
}

#readme-container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: var(--font-color);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.3s;
}

.scroll-container {
  border: 3px solid var(--font-color);
  border-radius: 5px;
  background: var(--grey-bottom-color) 60%;
  margin: 200px auto 0 auto;
  height: 200px;
  width: 600px;
  overflow: hidden;
  position: relative;
}

.scroll-box {
  height: 200px;
  width: 600px;
  overflow-y: scroll;
}

.scroll-content {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.fade-out {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--grey-bottom-color) 60%
  );
  pointer-events: none;
}
